<div class="main-container">
  <div class="container">
    <h1>2DSTAT</h1>
    <p>
      We provide product manufacturers with real-time understanding of consumers. 
      Our platform uses cutting-edge technology to analyze how consumers interact with products in supermarkets, providing data-driven feedback that enhances product decisions.
      By combining demographic data with consumer actions—such as product handling, observation time, and more—our web application helps you understand what drives purchase decisions and improve marketing strategies for greater customer satisfaction. 
    </p>
    <p>Explore our dashboard to access meaningful analytics and stay ahead in the competitive retail market.</p>
    
    <button routerLink="/login-supermarket">Get started as Supermarket</button>  
    <button routerLink="/login-manufacturer">Get started as Manufacturer</button> 
    <p>Already have access? <a routerLink="/login">login</a></p>
  </div>

  <div class="img-container">
    <img src="assets/Analysis-bro.png" alt="Analysis image">
  </div>
</div> 