<div class="dashboard-container">
    <!-- First Flourish Chart -->
    <div class="chart">
        <iframe 
            src="https://flo.uri.sh/visualisation/19916316/embed" 
            title="Consumer Behavior Pie Chart" 
            class="flourish-embed-iframe" 
            frameborder="0" 
            scrolling="no" 
            style="width:80%; height:300px;" 
            sandbox="allow-same-origin allow-forms allow-scripts allow-downloads allow-popups allow-popups-to-escape-sandbox allow-top-navigation-by-user-activation">
        </iframe>
        <div class="flourish-credit">
            <a href="https://public.flourish.studio/visualisation/19916316/?utm_source=embed&utm_campaign=visualisation/19916316" target="_top">
                <img alt="Made with Flourish" src="https://public.flourish.studio/resources/made_with_flourish.svg">
            </a>
        </div>
    </div>

    <!-- Second Flourish Chart -->
    <div class="chart">
        <iframe 
            src="https://flo.uri.sh/visualisation/20107762/embed" 
            title="Consumer Age Distribution" 
            class="flourish-embed-iframe" 
            frameborder="0" 
            scrolling="no" 
            style="width:80%; height:500px;" 
            sandbox="allow-same-origin allow-forms allow-scripts allow-downloads allow-popups allow-popups-to-escape-sandbox allow-top-navigation-by-user-activation">
        </iframe>
        <div class="flourish-credit">
            <a href="https://public.flourish.studio/visualisation/20107762/?utm_source=embed&utm_campaign=visualisation/20107762" target="_top">
                <img alt="Made with Flourish" src="https://public.flourish.studio/resources/made_with_flourish.svg">
            </a>
        </div>
    </div>
</div>
